body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color--secundary);
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(34, 34, 34);
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .logo-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
}

.header .logo-container img {
    height: 100px;
    width: 100px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.header nav ul {
    display: flex;
    flex-direction: column;
}

.header nav .toggler {
    visibility: visible;
    position: absolute;
    top: 20px;
    left: -40px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

nav .hamburger {
    position: absolute;
    top: 20px;
    left: -45px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: var(--color--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

nav .hamburger>div::before,
nav .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

nav .hamburger>div::after {
    top: 10px;
}

nav .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/*Tansform burger menu in X*/

nav .toggler:checked+.hamburger>div:before,
nav .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

nav .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

nav .toggler:checked~.menu {
    visibility: visible;
}

nav .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 1s;
}

nav .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
    display: flex;
}

nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu>div {
    background: var(--color--blue);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

nav .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

nav .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

nav .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.main-section {
    display: flex;
    height: 300px;
}

.main-section .main-box__left {
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    color: #3c3c3c;
}

.main-section .main-box__left h2 {
    font-size: 3rem;
}

.main-section .main-box__left .subtitle {
    font-size: 2rem;
}

.main-section .main-box__left p {
    font-size: 1rem;
}

.main-section .main-box__right {
    width: 0;
    height: auto;
}

.main-section .main-decoration-background {
    position: absolute;
    background-color: var(--color--blue);
    border-radius: 10px;
    transform: rotateZ(30deg);
    transition: transform 600ms ease;
    z-index: -1;
}

.one {
    top: 150px;
    left: 0px;
    height: 180px;
    width: 180px;
}

.one:hover {
    transform: scaleZ(3);
}

.two {
    top: 290px;
    right: 300px;
    height: 90px;
    width: 90px;
    display: none;
}

.two:hover {
    transform: scaleZ(3);
}

.container-work {
    height: auto;
    background-color: var(--color--secundary);
}

.work-section {
    display: grid;
    grid-template: 400px 400px 400px / 1fr;
    justify-items: center;
    padding: 0;
    gap: 40px;
}

.work-section .work-card {
    min-width: 300px;
    max-width: 400px;
    transition: transform 500ms ease;
    border-radius: 10px;
    box-shadow: 0px 5px 7px #3c3c3c;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    overflow: hidden;
}

.work-section .work-card:hover {
    transform: translateY(-15px);
    box-shadow: 1px 2px 9px #3c3c3c;
}

.work-section .work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-section .work-card .box-title-work {
    height: 100%;
    width: auto;
    background-color: var(--color--white);
}

.work-section .work-card h3 {
    font-size: 20px;
    margin-left: 1rem;
}

.work-section .work-card h3 span {
    display: block;
    font-size: 0.70rem;
    font-weight: 400;
}

.work-section .work-card .text-container {
    padding: 5px;
}

.work-section .work-card .icons-herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
}

.work-section .work-card .icons-herramientas img {
    height: 40px;
    width: auto;
}

.work-section .work-card .overlay {
    border-radius: 10px;
    position: absolute;
    height: 0px;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
    overflow: hidden;
    background-color: rgba(31, 30, 30, 0.473);
}

.work-section .work-card:hover .overlay {
    cursor: pointer;
    height: 100%;
}

.work-section .work-card .overlay a {
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 200px;
}

.work-section .work-card .overlay .overlay-button_style {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ffffff;
    text-decoration: none;
}

.work-section .work-card .overlay .overlay-button_style:hover {
    background-color: #f4f4f4;
    border: #f4f4f4;
    color: var(--color--primary);
    transition: 0.3s ease-in;
}

.container-skills {
    display: flex;
    justify-content: center;
}

.container-skills ul {
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    background-color: var(--color--primary);
    overflow: hidden;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer ul li {
    padding: 1rem;
}