
*{
    --primary--font:1.2rem;
    --color--text:#0B132A;
    --color--blue:#41EAD4;
    --color--magenta:#FF206E;

}
body{
    font-size: 62.5%;
    
}
.grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:    "header header"
                            "main main"
                            "separator1 separator1"
                            "section1 section1"
                            "separator2 separator2"
                            "section2 section2"
                            "separator3 separator3"
                            "section3 section3"
                            "footer footer"
                            ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:90px 500px 200px 1fr 200px 600px 200px 600px 300px;
    font-size: var(--primary--font);
    color: var(--color--text);
    font-family: 'Roboto', sans-serif;

}

.header{
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding:1rem ;
}
.main{
    grid-area: main;
}
.separator1{
    grid-area:separator1;
}
.section1{
    grid-area:section1;
}
.separator2{
    grid-area: separator2;
    
}
.section2{
    grid-area: section2;
    
}
.separator3{
    grid-area: separator3;
}
.section3{
    grid-area: section3;
    
    

}
.footer{
    grid-area: footer;
}


/*Nav Bar*/
.nav{
    grid-column-start: 2;
    
}
.nav ul{
    display: flex;
    justify-content: flex-end;

}
.nav li{
    list-style: none;
}
.nav a{
    text-decoration: none;
    margin: 1.5rem;
    font-weight: 700;
    

}

/*Maquetacion seccion principal*/
.main {
    background-image:url(/src/img/paper\ plegat\ libros.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main > div{
    width: 100%;
    
}

.button{
    border: none;
    background-color:var(--color--blue);
    color: white;
    height: 45px;
    width: 200px;
    border-radius: 1rem;
    margin-top: 40px;
    font-size: 1rem;
}


.separator__position{
    text-align: center;
    align-self: center;
    font-weight: 100;
}

/*Grid cards*/
.cards{
    display: grid;
    grid-template-columns:repeat(3,388px) ;
    grid-template-rows:repeat(2,1fr) ;
    grid-gap: 1rem;
    justify-content: center;
}
.card{
    background-color:white ;
    border-radius: 10%;
    box-shadow: 1px 1px 10px 2px rgba(82, 78, 78, 0.7);
    display: flex;
}
.card > div {
    
    margin-left: 1rem;
}
.position__txt{
    margin: 1rem;
    
}
.icono{
    border-radius: 50% ;
    background-color:var(--color--blue) ;
    background-image:url(/src/img/icons/envelope.png);
    background-position:center ;
    background-repeat:no-repeat ;
    margin-top: 1rem;
    height: 4rem;
    width: 20rem; 
}
/*Maquetando la segunda seccion*/
.section2{
    background-color: rgb(48, 48, 54);
    color: white;
    display: flex; 
    font-weight: 100;
}
.img__section2{
    background-image: url(/src/img/Print-Picture.jpg);
    height: 100%;
    width: 40%;
}
.text__section2{
    align-self: center;
    margin-left: 1rem;
    width: 58%;
}
/*Maquetacion de la tercera seccion*/

.section3{
    align-items: center;
    background-image: url(/src/img/Print-Picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 1rem;
    justify-content: space-around;

    
}
.title{
    color: rgb(248, 222, 222);
    font-size:2rem ;
}
.img__section3{
    background-image: url(/src/img/paper\ plegat\ libros.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat ;
    height: 400px;
    width: 400px;
    
}

/*Maquetacion del footer*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.lista{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.lista li{
    margin: 1rem;
}
.icon{
    height: 32px;
    width: 32px;
}